<form method="POST" action="/campaigns">

       <fieldset>
            <legend>New Campaign</legend>
            {{> campaigns-form}}
       </fieldset>

    <!-- BUTTON -->
    <p>
        <button type="submit">Submit</button>
    </p>

</form>