{{!-- <form method="POST" action="/campaigns"> --}}
<form action="#" id="new-campaign">

       <fieldset>
            <legend>New Campaign</legend>
            {{> campaigns-form}}
            <div id="campaigns">
                {{#each campaigns}}
                {{> campaign campaign=this campaignId=../campaignId}}
                {{/each}}
            </div>
       </fieldset>

    <!-- BUTTON -->
    <p>
        <button type="submit">Submit</button>
    </p>

</form>