<html>

<body>
    <div class="message">
        <h1>Please download OnePlus1 app and enjoy endless discounts</h1>
    </div>

    <div class="images">

        <div class="ios">
            <img src="/ios.jpeg" alt="app store" >
        </div>

        <div class="android">
            <img src="/android.png" alt="google play">
        </div>
    </div>
</body>

<style>
    h1 {
        text-align: center;
        margin: 100px;
    }
    .images {
        
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    body {
        align-items: center;
    }

</style>

</html>