<html>
    <body>
        <h1>If you want to drive for OnePlus1, please download our app and creat an account</h1>

        <div class="images">
            <div class="ios">
                <img src="./ios.jpeg" alt="app store">
            </div>

            <div class="android">
                <img src="/android.png" alt="google play">
            </div>
        </div>
    </body>

    <style>
        h1 {
        text-align: center;
        margin: 100px;
    }
    .images {
        
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    body {
        align-items: center;
    }
    </style>
</html>