
<html>
    <head>

    </head>
    <body>
          
        
        <div class="container">
            
                <div class="brands">
                    <h1><a href="/views/campaigns-new.handlebars">Brands</a></h1>
                </div>
                <div class="drivers">
                    <h1><a href="/drivers">Drivers</a></h1>
                </div>
                <div class="customers">
                    <h1><a href="/customers">Customers</a></h1>
                
                </div>

        </div>
    </body>

    <style>

        

        .brand {
            color: white;
        }

        body, html {
    height: 100%;
}

.container {
    height: 100%;
}

.container > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    
    </style>
</html>